body {
    background-color: #f9f8f4;
    font-family: MuseoSansRounded;
    color: #807da1;
    cursor: default;
    letter-spacing: 2pt;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /*min-width: 610px;
    width: auto !important;
    width: 610px;*/
    width: 100%;
    padding-right: 0px !important;
}

.modal {
    overflow-y: auto;
}

.modal-body p, .credits {
    font-family: MuseoSansCyrl;
    color: #404041;
    letter-spacing: 0pt;
    font-size: 16px;
}

.cancel-btn {
    color:  #807da1;
}

.end-btn {
    background-color: #88cca4;
    border-color:  #88cca4;
    color:  #f9f8f4;
}.end-btn:hover {
    color:  #f9f8f4;
}.end-btn:focus {
    color:  #f9f8f4;
}

.buttons a {
    margin-bottom: 5px;
}

   
.modal-open {
    overflow: auto;
    padding-right: 0px !important; 
}

.choice-collapser {
    visibility: hidden;
}

#choice-panel {
    background-color: #88cca4;
    font-family: MuseoSansRounded;
    color: #807da1;
    cursor: default;
    letter-spacing: 2pt;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    border-radius: 0.1in;
    padding: 0px;
}

#choice-panel h1 {
    margin-bottom: 15px;
    color: #f9f8f4;
    font-size: 2.7em;
}

#obi-container *{
    background-color: #f9f8f4;
}

#obi-container .obi {
    margin-top: 15px;
    margin-bottom: 15px;
}


#pattern-container *{
    background-color: #f9f8f4;
}

#pattern-container .row {
    margin-left: 0px;
    margin-right: 0px;
  }


.obi {
    margin: auto;
}

.draggableIcon {
    margin-right: 20px;
}

nav {
    margin-bottom: 0px !important;
}

.dressing-room-heading {
    margin-bottom: 0px !important;
    margin-top: 15px !important;
    color: #f9f8f4;
}

.main-room {
    background-image: url("../Images/General/dressing_room.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.summer-finale {
    background-image: url("../Images/General/summer_background_wide.png") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.spring-finale {
    background-image: url("../Images/General/spring_background_wide.png") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.winter-finale {
    background-image: url("../Images/General/winter_background_wide.png") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.autumn-finale {
    background-image: url("../Images/General/fall_background_wide.png") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    margin-bottom: 30px;
}

.buttons {
    margin-top: 20px;
}

#material-container .material {
    color: #f9f8f4;
    background-color: #88cca4;
}

#choice-modal {
    width: 100%;
    padding: 0px;
}

#choice-modal .obi {
    margin-top: 15px;
    margin-bottom: 15px;
}

#choice-modal .pattern {
    margin-top: 10px;
    margin-bottom: 10px;
}

.choice-collapser {
    width: 100%;
    height: 40px;
    border:none;
    background-color: #88cca4;
    color: #f9f8f4;
    font-size: 2.7em;
}

#DressingRoom {
    width: 100%;
    max-height: 700px;
    max-width: 541px;
}

.btn-arrow {
    width: 75px;
    height: 75px;
}
.btn-arrow[disabled] {
    opacity: 0.5;
}

.nav-btn-arrow {
    height: 50px;
}
.nav-btn-arrow[disabled] {
    opacity: 0.5;
}

.modal-header {
    background-color: #807da1;
}

.modal-title {
    color: #f9f8f4;
}

.correct {
    background-color: #88cca4 !important;
}

#DetailModal .modal-header {
    background-color: #f9f8f4 !important;
}

#DetailModal .modal-title {
    color: #807da1 !important; 
}

.modal-img {
    width: 75px;
    height: 75px;
}

@media all and (max-width: 1200px) { /* screen size until 1200px */
    body, #choice-panel {
        font-size: 1.2em; /* 1.4x default size */
    }
    .nav-btn-arrow {
        visibility: hidden;
    }
    .choice-collapser {
        visibility: hidden;
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body, #choice-panel h1 {
        font-size: 1.5em; /* 1.2x default size */
    }
    .nav-btn-arrow {
        visibility: hidden;
    }
    .choice-collapser {
        visibility: hidden;
    }
}

@media all and (max-width: 734px) { /* Pseudo removed */
    body{
        font-size: 1.5em; /* 0.8x default size */
    }

    #choice-panel h1 {
        font-size: 0.9em;
    }

    .nav-btn-arrow {
        visibility: visible;
   }
   .choice-collapser {
        visibility: hidden;
    }
    
    .main-room {
        background-image: url("../Images/General/dressing_room_background_phone.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .summer-finale {
        background-image: url("../Images/General/summer_background.png") !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .spring-finale {
        background-image: url("../Images/General/spring_background.png") !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .winter-finale {
        background-image: url("../Images/General/winter_background.png") !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .autumn-finale {
        background-image: url("../Images/General/fall_background.png") !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

@media all and (max-width: 800px) { /* screen size until 500px */
    body{
        font-size: 0.8em; /* 0.8x default size */
    }
    .material {
        font-size: 1.1em;
        padding: 2px 4px;
    }
    .main-room {
        width: 100%;
    }

    #choice-panel {
        display: none;
    }

    .choice-collapser {
        visibility: visible;
    }
    
    .main-room {
        background-image: url("../Images/General/dressing_room_background_phone.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .summer-finale {
        background-image: url("../Images/General/summer_background.png") !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .spring-finale {
        background-image: url("../Images/General/spring_background.png") !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .winter-finale {
        background-image: url("../Images/General/winter_background.png") !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .autumn-finale {
        background-image: url("../Images/General/fall_background.png") !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }    
    
}

/* Drag Handle for movable modal*/
.fa-drag-handle:before {
    content: "\f142 \f142";
    letter-spacing: 2px;
}

