body {
    background-color: #FFFACD;
    cursor: default;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    min-width: 657px;
}

.DressingRoom {
    background-image: url("../Images/General/dressing_room.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.btn-primary {
    background-color: #00cc44;
    border-color: #00cc44;
}

.btn-primary:hover {
    background-color: #009933;
    border-color: #009933;
}

.next-btn {
    margin-top: 5px;
}

.next-btn[disabled] {
    background-color: #808080;
    border-color: #808080;
}

.next-btn:hover[disabled] {
    background-color: #808080;
    border-color: #808080;
}

.back-btn {
    margin-top: 5px;
}

#nav-bar {
    background-color: #00cc44;
}

#ScenarioNav a {
    color: white;
}

.locked {
    background-color: #006622;
}
.locked:hover {
    background-color: #006622;
}

.unlocked {
    background-color: #009933;
}
.unlocked:hover {
    background-color: #009933;
}

.season {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-right: 1px;
    margin-top: 1px;
    background-color: white;
}

.season.selected {
    border-style: solid;
    border-width: 2px;
    border-color: gold;
}

.formality {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-right: 1px;
    margin-top: 1px;
    background-color: white;
}

.formality.selected {
    border-style: solid;
    border-width: 2px;
    border-color: gold;
}

.marital {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-right: 1px;
    margin-top: 1px;
    background-color: white;
}

.marital.selected {
    border-style: solid;
    border-width: 2px;
    border-color: gold;
}

.material.selected {
    background-color: gold;
    border-color: gold;
}

canvas {
    margin: auto;
    min-width: 657px;
}

#choice-panel {
    padding-left: 80px;
}

.modal-open {
padding-right: 0 !important
}

.modal-close {
padding-right: 0 !important
}