body {
    background-color: #f9f8f4;
    font-family: MuseoSansRounded;
    color: #807da1;
    cursor: default;
    letter-spacing: 2pt;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /*min-width: 610px;
    width: auto !important;
    width: 610px;*/
    width: 100%;
}

h1 {
    margin-bottom: 30px;
}

.modal-body p {
    font-family: MuseoSansCyrl;
    letter-spacing: 0pt;
}

.end-btn {
    background-color: #88cca4;
    border-color:  #88cca4;
    color:  #f9f8f4;
}.end-btn:hover {
    color:  #f9f8f4;
}.end-btn:focus {
    color:  #f9f8f4;
}

.buttons {
    margin-top: 20px;
}

.card {
    padding: 0px;
    margin-right: 5px;
}

.formality-card {
    padding: 10px;
    margin-right: 5px;
    min-width: 25%;
}

.scene-icon {
    width: 100%;
    height: 100%;
}

.season.selected img, .formality.selected, .marital.selected {
    opacity: 0.55;
}

.formality-btn {
    background-color: #807da1;
    padding: 5px 0px 5px 0px;
    color: #f9f8f4;
    border-radius: 0.1in;
    width: 100%;
}

.btn-arrow {
    width: 75px;
    height: 75px;
}
.btn-arrow[disabled] {
    opacity: 0.5;
}

.start-btn {
    background-color: #88cca4;
    border-color:  #88cca4;
    position: absolute;
    top: 70%;
    left: 70%;
}
.start-btn:hover {
    background-color: #88cca4;
    border-color:  #88cca4;
    opacity: 0.7;
}

.intro-body {
    background: url("../Images/General/Kimono_Play_title_page.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.modal-header {
    background-color: #807da1;
}

.modal-title {
    color: #f9f8f4;
}

.correct {
    background-color: #88cca4 !important;
}

@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
    }
}
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
    }

    .start-btn {
        background-color: #88cca4;
        border-color:  #88cca4;
        position: absolute;
        top: 32%;
        left: 42%;
    }
    .start-btn:hover {
        background-color: #88cca4;
        border-color:  #88cca4;
        opacity: 0.7;
    }
    
    .intro-body {
        background: url("../Images/General/Kimono_Play_title_page_mobile.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}