#nav-bar {
    background-color: #88cca4;
}
.navbar { margin-right: 0; }

#ScenarioNav a {
    color: #f9f8f4;
}

#ScenarioNav img {
    max-height: 100%;
}

#nav-bar .locked {
    background-color: #61b482;
}
#nav-bar .locked:hover {
    background-color:#88cca4;
}

#nav-bar .unlocked {
    background-color: #88cca4;
}
#nav-bar .unlocked:hover {
    background-color: #61b482;
}


